<div class="flex flex-col moving" id="about">
  <div class="lns">
    <div class="mmd">
      @for (item of about; track $index) {
        <ul>
          <li>
            <h4>{{ item.name }}</h4>
            <img [ngSrc]="item.img" width="60" height="60" alt="logo1" />
          </li>
        </ul>
        <!-- <h4>{{ item.name }}</h4> -->
        <!-- <button matTooltip="Info about the action">acction</button> -->
      }
    </div>
  </div>
  <div class="amd">
    <div class="rns">
      @for (item of about; track $index) {
        <ul>
          <li>
            <h4>{{ item.name }}</h4>
            <img [ngSrc]="item.img2" width="60" height="60" alt="logo2" />
          </li>
        </ul>
      }
    </div>
  </div>
</div>
<div class="bg-white bg items-center">
  <div class="flex justify-center flex-col items-center ab">
    <span class="about-me">about me👋</span>
    <h2>
      I've been<span> Frontend developer</span> since
      <span class="color">2019</span>
    </h2>
  </div>
  <div class="amb flex flex-row gap-3 justify-center">
    <div class="flex gap-5 int">
      <div>
        <div class="inp">My Mission</div>
        <p>
          s a digital designer, I specialize in creating unique visual
          identities for digital products. I believe that a catchy design starts
          with common values, open communication, and respect for your audience.
          Capitalize on low hanging fruit to identify a ballpark value added
          activity
        </p>
        <p>
          Beta test survival. Phosfluorescently engage worldwide methodologies
          Web-enabled technology. Interactively coordinate proactive commerce
          via process-centric "outside the box" thinking. Completely
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-4 int">
      <div class="inp">My Skill</div>
      <ul class="flex flex-wrap gap-5">
        @for (item of item; track $index) {
          <li
            [matTooltip]="item.name"
            class="flex flex-col justify-center items-center gap-1">
            <span class="flex justify-center items-center">
              <img
                [ngSrc]="item.imageUrl"
                width="60"
                height="60"
                [alt]="item.name" />
            </span>
            <!-- <p>{{ item.name }}</p> -->
          </li>
        }
      </ul>
    </div>
  </div>
</div>
