.contact {
  width: 100% !important;
  background-image: url('../../../../assets/img/bg/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
  box-sizing: border-box;
  position: relative;
  .con {
    gap: 50px;
    margin-bottom: 120px;
    .info {
      max-width: 650px;
      margin-bottom: 50px;
      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        display: block;
        margin-bottom: 20px;
      }
      h3 {
        font-weight: 500;
        font-size: 60px;
        line-height: 75px;
        color: white;
        .color {
          font-weight: 500;
          font-size: 60px;
          line-height: 75px;
          color: #4dffaf;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      li {
        .br {
          width: 75px;
          height: 75px;
          font-size: 35px;
          transition: 0.4s;
          background: #4dffaf;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 76px;
          text-align: center;
          transform: translateY(0);
          transition: all 0.3s ease-in-out;
          img {
            width: 30px;
            height: 30px;
          }
          &:hover {
            transform: translateY(-10px);
          }
        }
        span {
          font-size: 16px;
          font-family: sans-serif;
          line-height: 1;
          color: rgb(155, 151, 151);
        }
        h5 {
          font-size: 30px;
          color: #ffffff;
          transition: all 0.4s ease-in-out;
          &:hover {
            color: #4dffaf;
            cursor: pointer;
          }
        }
      }
    }
    .form {
      margin-bottom: 50px;
      background-color: white;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 40px 40px 45px;
      border-radius: 10px;
      span {
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 20px;
      }
      input {
        border: 1px solid #bbbbbb;
        border-radius: 60px;
        width: 100%;
        height: 70px;
        color: #261d48;
        font-size: 16px;
        font-family: sans-serif;
        padding: 0 30px;
        line-height: 70px;
        transition: all 0.3s ease-in-out;
        &:focus,
        &:active {
          border-radius: 10px / 30px;
          outline: none;
          border: 2px solid #4dffaf;
        }
      }
      textarea {
        border: 1px solid #bbbbbb;
        border-radius: 15px;
        height: 150px;
        color: black;
        width: 100%;
        padding: 25px 30px;
        transition: all 0.3s ease-in-out;
        &:focus,
        &:active {
          border-radius: 10px / 30px;
          outline: none;
          border: 2px solid #4dffaf;
        }
      }
    }
  }
  .circle {
    background-color: #262626;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    width: 100%;
    ul {
      animation: animation 30s linear infinite;
      display: flex;
      width: 100%;
      li {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 800px;
        h4 {
          font-size: 60px;
          color: white;
        }
        .rounded {
          position: relative;

          img {
            width: 130px;
            height: 130px;
            animation: rotate 10s linear infinite;
          }
          .portal {
            width: 50px;
            height: 50px;
            background-color: #4dffaf;
            border-radius: 50%;
            position: absolute;
            top: 32%;
            left: 31%;
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
@keyframes animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  .contact {
    padding: 60px 15px;

    .con {
      gap: 0;
      display: inline;
      padding: 0 15px;
      .md {
        width: 100vw;
        .info {
          width: 363px;
          margin: 0 auto;

          h3 {
            font-size: 32px;
            line-height: 45px;

            .color {
              font-weight: 500;
              font-size: inherit;
              line-height: inherit;
            }
          }
        }
        ul {
          margin: 0 auto;
          gap: 15px;
          li {
            .br {
              font-size: 24px;
              transition: 0.4s;
              img {
                width: 30px;
                height: 30px;
              }
            }
            span {
              font-size: 16px;
              font-family: sans-serif;
              line-height: 1;
              color: rgb(155, 151, 151);
            }
            h5 {
              font-size: 20px;
            }
          }
        }
      }
      .form {
        margin-top: 20px;
        width: 363px !important;
        padding: 30px 25px 20px 25px;
        span {
          font-weight: 400;
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 20px;
        }
        input {
          height: 50px;
          color: #261d48;
        }
      }
    }
  }
  .circle {
    height: 110px !important;
    ul {
      li {
        align-items: center;
        h4 {
          font-size: 30px !important;
        }
        .rounded {
          .portal {
            position: relative !important;
            display: inline-block;
          }
          .movable {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 451px) and (max-width: 1100px) {
  .contact {
    padding: 60px 15px;
    .con {
      gap: 0;
      display: flex;
      padding: 0 15px;
      margin: 75px auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      gap: 30px;
      .md {
        padding: 0 30px;
        .info {
          width: 363px;
          margin: 0 auto;

          h3 {
            font-size: 32px;
            line-height: 45px;

            .color {
              font-weight: 500;
              font-size: inherit;
              line-height: inherit;
            }
          }
        }
        ul {
          margin: 30px auto;
          gap: 15px;
          li {
            .br {
              font-size: 24px;
              transition: 0.4s;
              img {
                width: 30px;
                height: 30px;
              }
            }
            span {
              font-size: 16px;
              font-family: sans-serif;
              line-height: 1;
              color: rgb(155, 151, 151);
            }
            h5 {
              font-size: 20px;
            }
          }
        }
      }
      .form {
        margin-top: 20px;
        width: 363px !important;
        padding: 30px 25px 20px 25px;
        span {
          font-weight: 400;
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 20px;
        }
        input {
          height: 50px;
          color: #261d48;
        }
      }
    }
    .circle {
      height: 150px;
      ul {
        li {
          align-items: center;
          h4 {
            font-size: 30px !important;
          }
          .rounded {
            .portal {
              position: relative !important;
              display: inline-block;
            }
            .movable {
              display: none;
            }
          }
        }
      }
    }
  }
}
