<div class="contact">
  <div class="con flex flex-row justify-center items-center">
    <div class="md">
      <div class="info">
        <span>Drop Me Line ✍️</span>
        <h3>
          Let’s Start Your Next<br />
          <span class="color">Dream Project</span>
        </h3>
      </div>
      <ul>
        @for (cont of contact; track $index) {
          <li class="flex flex-row gap-5">
            <div class="br">
              <img
                [ngSrc]="cont.img"
                width="30"
                height="30"
                [alt]="cont.type" />
            </div>
            <div class="flex flex-col gap-5">
              <span>{{ cont.type }} </span>
              <h5>{{ cont.details }}</h5>
            </div>
          </li>
        }
      </ul>
    </div>
    <div class="form">
      <span>Get In Touch</span>
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="Email" />
      <input type="text" placeholder="Subject" />
      <label for="textarea">text</label>
      <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
      <button class="btn-green">Subbmit now</button>
    </div>
  </div>
  <div class="circle flex gap-5">
    @for (item of about; track $index) {
      <ul class="flex justify-end items-center gap-5">
        <li>
          <h4>{{ item.name }}</h4>
          <div class="rounded">
            <img
              class="movable"
              src="assets/img/png/circule1.png"
              width="130px"
              height="130px"
              alt="" />
            <div class="portal">
              <img src="assets/img/svg/portal-1.svg" />
            </div>
          </div>
        </li>
      </ul>
    }
  </div>
</div>
