<div class="contact">
  <div class="con flex flex-row justify-center items-center">
    <div class="">
      <div class="info">
        <span>Drop Me Line ✍️</span>
        <h3>
          Let’s Start Your Next<br />
          <span class="color">Dream Project</span>
        </h3>
      </div>
      <ul>
        @for (cont of contact; track $index) {
          <li class="flex flex-row gap-5">
            <div class="br">
              <img [src]="cont.img" [alt]="cont.type" />
            </div>
            <div class="flex flex-col gap-5">
              <span>{{ cont.type }} </span>
              <h5>{{ cont.details }}</h5>
            </div>
          </li>
        }
      </ul>
    </div>
    <div class="form">
      <span>Get In Touch</span>
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="Email" />
      <input type="text" placeholder="Subject" />
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button class="btn-green">Subbmit now</button>
    </div>
  </div>
</div>
