<div class="w-full bg-white testimonial" id="work">
  <div class="container">
    <div>
      <span class="span">Testimonial 👍 </span>
      <h3>
        What The Clients Say About<br />
        <span class="color"> My Work</span>
      </h3>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        @for (item of info; track $index) {
          <div class="swiper-slide">
            <div class="flex flex-row sw">
              <img
                [ngSrc]="item.img"
                width="360"
                height="200"
                [alt]="item.name" />
              <div class="info flex justify-center items-center flex-col gap-4">
                <span class="icon">
                  <img
                    ngSrc="assets/img/svg/double-quotes.svg"
                    width="30"
                    height="30"
                    alt="icon"
                /></span>
                <p>{{ item.description }}</p>
                <div class="user">
                  <h6>{{ item.name }}</h6>
                  <span>{{ item.position }}</span>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="swiper partners">
      <div class="swiper-wrapper">
        @for (partners of partners; track $index) {
          <div class="swiper-slide par">
            <img
              class=""
              [ngSrc]="partners.img"
              width="30"
              height="30"
              [alt]="partners.title" />
          </div>
        }
      </div>
    </div>
  </div>
</div>
