.services {
  width: 1200px;
  margin: 0 auto;

  .serv {
    margin-bottom: 40px;
    span {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 60px;
    }
    .color {
      font-size: 60px;
      color: #a555e6;
    }
  }
}
@media screen and (max-width: 450px) {
  .services {
    width: 100vw;
    padding: 30px 14px;
    .serv {
      margin-bottom: 40px;
      span {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 32px;
      }
      .color {
        font-size: 32px;
        color: #a555e6;
      }
    }
  }
}
