.desc {
  .dt {
    box-sizing: border-box;
    position: relative;
    .cont {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      //   border-top: 1px solid rgb(61, 56, 56);
      //   border-bottom: 1px solid rgb(61, 56, 56);
      position: relative;
      h3 {
        font-size: 50px;
        margin: 0;
      }
      p {
        max-width: 400px;
        margin-top: 20px;
        display: none;
      }
    }
    .img {
      position: absolute;
      display: none;
      top: -50%;
      left: 45%;
      opacity: 0;
      transform: translateY(-10%);
      width: 420px !important;
      height: 520px !important;
      z-index: 2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .persent {
      position: absolute;
      top: 30%;
      right: 0;
      width: 60px;
      margin-left: auto;
      span {
        background: transparent;
        width: 57px;
        height: 57px;
        line-height: 57px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #595959;
        font-size: 30px;
        color: #595959;
      }
      .open {
        display: none;
      }
      .hide {
        display: block;
      }
    }

    &:hover {
      .cont {
        p {
          display: block;
        }
      }
      .img {
        display: block;
        opacity: 1;
      }
      .persent {
        .hide {
          display: none;
        }
        .open {
          display: block;
        }
      }
    }
  }
}
