.desc {
  .dt {
    box-sizing: border-box;
    position: relative;
    .cont {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      position: relative;
      padding: 0 20px;
      h3 {
        font-size: 50px;
        margin: 0;
        transform: translateY(52px);
        transition: all 0.5s ease-in-out;
        display: flex;
      }
      p {
        // display: flex;
        opacity: 0;
        max-width: 400px;
        margin-top: 20px;
        transition: all 1s;
        transform: translateY(-50px);
      }
    }
    .img {
      position: absolute;
      display: flex;
      top: -50%;
      left: 45%;
      opacity: 0;
      transform: translateY(-10%);
      width: 420px;
      height: 520px;
      z-index: 2;

      transition:
        all 0.5s ease-in-out,
        transform 0.3s linear;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:
          all 0.5s ease-in-out,
          transform 0.3s linear;
      }
    }
    .persent {
      position: absolute;
      top: 30%;
      right: 0;
      width: 60px;
      margin-left: auto;
      span {
        background: transparent;
        width: 57px;
        height: 57px;
        line-height: 57px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #595959;
        font-size: 30px;
        color: #595959;
      }
      .open {
        display: none;
      }
      .hide {
        display: block;
      }
    }

    &:hover {
      .cont {
        h3 {
          transform: translateY(0);
        }
        p {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .img {
        opacity: 1;
      }
      .persent {
        .hide {
          display: none;
        }
        .open {
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .desc {
    .dt {
      .cont {
        h3 {
          font-size: 30px;
        }
        .persent {
          display: none;
        }
      }
      .img {
        display: none !important;
      }
    }
  }
}
