<div class="flex items-center flex-col gap-7">
  <ul class="flex justify-center items-center flex-col gap-3">
    <li>
      <a href="">
        <img src="./assets/img/svg/icons/facebook.svg" alt="" />
      </a>
    </li>
    <li>
      <a href=""><img src="./assets/img/svg/icons/github.svg" alt="" /> </a>
    </li>
    <li>
      <a href=""><img src="./assets/img/svg/icons/linkedin.svg" alt="" /> </a>
    </li>
    <li>
      <a href=""><img src="./assets/img/svg/icons/twitter.svg" alt="" /> </a>
    </li>
  </ul>
  <span class="">Follow me</span>
</div>
