@import './../../../../../assets/styles/link';
nav {
  width: 1280px;
  height: 90px;
  font-family: 'Lexend', sans-serif;

  .logo {
    font-size: 16px;
    span {
      &:nth-child(2) {
        display: none;
      }
    }
    div {
      button {
        width: 48px;
        height: 48px;
        border: 1px solid $black;
        border-radius: 15px;
        transition: all ease-in-out 0.3s;
        &:hover {
          background-color: $green;
        }
        img {
          width: initial;
          height: initial;
        }
      }
    }
  }

  .list {
    font-size: 16px;
    font-weight: 400;
    li {
      padding: 11px 13px;
      transition: all ease-in-out 0.3s;
      border: 1px solid transparent;
      // border-radius: 40px;
      &:hover {
        background-color: $green;
        border-radius: 50% 20% / 10% 40%;
      }

      a {
        position: relative;
        color: $gray;

        &:before {
          position: absolute;
          content: ' ';
          width: 4px;
          top: 8px;
          right: -31px;
          height: 4px;
          border-radius: 50%;
          background: #a555e6;
        }

        &:hover {
          color: $black;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  nav {
    width: 100vw;
    height: 80px;
    .logo {
      width: 100%;
      justify-content: space-around;
    }
    .gap-3 {
      display: none;
    }
    .talk {
      display: none;
    }
  }
}
