.banner {
  position: relative;
  .about {
    margin-top: 40px;
    h1 {
      font-weight: 500;
      font-size: 90px;
      line-height: 108px;
      text-align: center;
    }
    h3 {
      color: #595959;
    }
    span {
      color: #a555e6;
    }
    p {
      max-width: 600px;
      color: #595959;
      font-size: 20px;
      display: block;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 450px) {
  .banner {
    width: 100vw;
    padding: 20px 13px;
    .about {
      width: 100%;
      h1 {
        font-size: 40px;
        line-height: 50px;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 40px;
      }
    }
  }
}
