.banner {
  .about {
    h1 {
      font-weight: 500;
      font-size: 90px;
      line-height: 50px;
      text-align: center;
    }
    span {
      color: #a555e6;
    }
    p {
      max-width: 600px;
      color: #595959;
      font-size: 20px;
      display: block;
    }
  }
}
@media screen and (max-width: 450px) {
  .banner {
    width: 100vw;
    z-index: 3;
    padding: 20px 13px;
    .about {
      width: 100%;
      h1 {
        font-size: 40px;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 40px;
      }
    }
  }
}
