<div class="banner flex justify-center" id="home">
  <div class="about">
    <h3 class="typewriter">{{ about }}</h3>
    <h1 class="animate__animated animate__fadeInUpBig">
      Independent User <br />
      Experience
      <span class="animate__animated animate__fadeInLeft inline">
        Frontend </span
      ><br />
      <span class="animate__animated animate__fadeInRight inline"
        >Developer</span
      >
    </h1>
    <p class="animate__animated animate__fadeInDownBig">
      Work with brands and businesses from all around the world to create high
      quality design and engaging experiences.
    </p>
    <div class="animate__animated animate__fadeInUp">
      <a href="" class="btn-green">Book a call</a>
    </div>
  </div>
  <div class="me animate__animated animate__fadeInRight"></div>
  <app-about class="animate__animated animate__fadeIn"></app-about>
</div>
