<div class="banner flex justify-center" id="home">
  <div class="about">
    <h3>Hello, ✌️ I'm Zura Baramia</h3>
    <h1>
      Independent User <br />
      Experience <span> Frontend </span><br />
      <span>Developer</span>
    </h1>
    <p>
      Work with brands and businesses from all around the world to create high
      quality design and engaging experiences.
    </p>
    <div>
      <a href="" class="btn-green">Book a call </a>
    </div>
  </div>
  <div class="me"></div>
  <app-about />
</div>
