.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 195px;
  height: 60px;
  background-color: $green;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  &:hover {
    // color: $white;
    font-weight: bold;
    background-color: $dark-green;
    border-radius: 10px / 30px;
  }
}
