<footer class="w-full h-80 bg-slate-200 pt-20">
  <div class="flex justify-center gap-9 w-auto mt-30">
    <div class="max-w-72">
      <ul>
        <li>
          <img src="./assets/img/png/logo-white.png" alt="" />
        </li>
        <li>
          <span>Follow Me</span>
        </li>
      </ul>
      <ul></ul>
    </div>
    <div class="max-w-72">
      <h5>Quick Link</h5>
      <ul>
        <li>
          <a href="">About Me</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
        <li>
          <a href="">Faq</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="max-w-72">
      <h5 class="mb-7">Services</h5>
      <ul>
        <li><a href="">Branding Design</a></li>
        <li><a href="">UI/UX Design</a></li>
        <li><a href="">Motion Graphic</a></li>
        <li><a href="">Web Development</a></li>
      </ul>
    </div>
    <div class="max-w-72">
      <h5>Newsletter</h5>
      <span
        >Subscribe to newsletter to get update tips & tutorial in your
        inbox</span
      >
      <input type="text" />
    </div>
  </div>
</footer>
